
  <div style="overflow: hidden; width: 100%; background: #f9f9f9; padding: 10px 0;" class="color-{{ section.settings.color_scheme }}>
    <div style="display: flex; white-space: nowrap; animation: scroll-left 15s linear infinite;" >
      {% for i in (1..100) %}
        <span style="font-weight: 600; font-size: 16px; padding: 5px 10px;">{{ section.settings.heading }}</span>
      {% endfor %}
    </div>
  </div>

  <style>
    @keyframes scroll-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    div[style*="animation: scroll-left"] {
      animation: scroll-left 15s linear infinite;
    }
  </style>


{% schema %}
  {
    "name": "text-scoller",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label" : "Heading",
        "default" : "My Custom Heading"
      },
      {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
    ],
    "presets": [
      {
        "name": "text-scoller"
      }]
  }
{% endschema %}


    


